.items_container {
  height: 312px;
  padding-right: 24px;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}
